/* css 初始化 */
html,body,ul,li,p,h1,h2,h3,h4,h5,form,img {
     margin: 0;
     padding: 0;
}
img {
    border:0
}
ul {
    list-style:none;
}
input {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
    outline: none;
}
body {
    background-color:#fff;
    font:normal normal 12px "微软雅黑";
    color:#666;
}
.clearfix:after {
    content: '';
    height:0;
    line-height: 0;
    visibility: hidden;
    display: block;
    clear: both
}
.clearfix {
    zoom: 1;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
i {
    font-style: normal;
}
a {
    text-decoration: none;
    color: #666;
}
.center {
    width: 1190px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
body {
    background-color: #f6f6f6;
}
a:hover {
    color: #f10215;
}
