/*完整的桌面大盒子*/
#destop {
    width: 100%;
    height: 100%;
    background: url(../wwk_img/zm.jpg) 0 0 no-repeat;
    display: none;
    background-size:auto;
    font: normal normal 12px "宋体";
    overflow:hidden;
    position: absolute;
}

/*开始菜单及任务栏部分 ————高九栋*/
#missionArea {
    height: 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
}








/*桌面图标*/
#desArea {
    height: 100%;
    width: auto;
    position: relative;
}
#des_icon {
    /*width: 80px;*/
    height: 728px;
}
#des_icon ul {
    width: 80px;
    float: left;
    margin-top: 6px;
    float: left;
}
#des_icon li {
    margin-bottom:26px;
}
#des_icon .total_icon img {
    width: 35px;
    height: 35px;
    margin: 0 22px;
}
#des_icon .mini_icon {

}
#des_icon .info_icon {
    width: 70px;
    margin: 0 auto;
}
#des_icon .total_icon p {
    font: 10px "微软雅黑";
    color: white;
    text-shadow: black 0px 0px 10px;
    text-align: center;
}

