/*整体的*/
body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1366px;
    height: 768px;
    background-color: black !important;;
    position:absolute;
}

#dzy_suoping_total {
    /*width: 1366px;*/
    /*height: 768px;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(../images/dzy_images/suoping_view.jpg) 0 0 no-repeat;
    position: relative;
    float: left;
}

/*整体时间的盒子*/
#dzy_suoping_time {
    position: absolute;
    left: 45px;
    top: 480px;
}

/*时分秒*/
#dzy_suoping_clock {
    height: 120px;
    color: white;
    font: 100 100px "微软雅黑";
    letter-spacing: 8px;
}

/*年月日*/
#dzy_suoping_date {
    height: 70px;
    color: white;
    font: 100 44px "微软雅黑";
    margin-left: 10px;
    margin-top: 5px;
}

#dzy_suoping_icon {
    position: absolute;
    bottom: 40px;
    right: 30px;
}

#dzy_suoping_icon img {
    margin-right: 10px;
    width: 30px;
}

/*密码输入框*/
#dzy_suoping_passwordArea {
    width: 300px;
    height: 380px;
    position: absolute;
    display: none;
    left: 50%;
    margin-left: -150px;
    top: 180px;
}

.dzy_touxiang {
    width: 200px;
    height: 200px;
    background: url(../images/dzy_images/touxiang.jpg) 0 0 no-repeat;
    border-radius: 100px;
    margin-left: 50px;
}

.dzy_pw {
    width: 295px;
    height: 30px;
    outline: none;
    font-size: 16px;
    padding-left: 5px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid rgba(256, 256, 256, 0.3);
}

#dzy_loading {
    width: 27px;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: 75px;
    display: block;
    opacity: 0;
}

#dzy_suoping_passwordArea .dzy_user_name {
    font: 400 36px "微软雅黑";
    color: white;
    margin-top: 13px;
    margin-bottom: 15px;
    text-align: center;
}
#dzy_destop {
    width: 100%;
    height: 100%;
    background:url(../dzy_images/des_bg01.jpg) 0 0 no-repeat;
    display: none;
}